.icon {
  margin-left: 15px;
  width: 30px;
}

/* background color of full body */
.detailsBody {
  background: rgb(65, 18, 19);
  background: linear-gradient(
    142deg,
    rgba(65, 18, 19, 1) 8%,
    rgba(171, 39, 61, 1) 36%,
    rgba(72, 0, 75, 1) 83%
  );
}

/* background color of information card */
.info-card {
  background: rgb(65, 18, 19);
  background: linear-gradient(
    142deg,
    rgb(37, 9, 10) 8%,
    rgb(88, 24, 34) 36%,
    rgb(41, 2, 43) 83%
  );
}
